<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--Início da definição da section group dos componentes Intentor-->
    <sectionGroup name="intentor">
      <section name="yamapper" type="Intentor.Yamapper.YamapperConfigurationSection, Intentor.Yamapper" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <!--Fim da definição da section group dos componentes Intentor-->
  </configSections>

  <!--Início da section group dos componentes Intentor-->
  <intentor>
    <yamapper defaultConnection="Intentor" mappingAssembly="Intentor.Examples.WinForms">
      <databaseConnections>
        <add name="Intentor" connectionString="Data Source=localhost;Initial Catalog=Yamapper;User Id=Yamapper;Password=abc1234" provider="Intentor.Yamapper.Drivers.SqlServerDriver"/>
      </databaseConnections>
    </yamapper>
  </intentor>
  <!--Fim da section group dos componentes Intentor-->  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
