<?xml version="1.0" encoding="utf-8" ?>
<yamapper-configuration xmlns="urn:yamapper-configuration-10.4.1.0">
  <yamapper 
		defaultConnection="Yamapper"
    mappingsFolder="Util\Mappings" />
  <databaseConnections>
    <connection name="Yamapper"
					connectionString="Data Source=localhost;Initial Catalog=Yamapper;User Id=Yamapper;Password=abc1234"
					provider="Intentor.Yamapper.Drivers.SqlServerDriver" />
  </databaseConnections>
</yamapper-configuration>