outputMappings=@"";
outputWebForms=@"";
outputModel=@"";
connectionName="";
objectPrefix="";
mainPrefix="Intentor";
namespaceEntities="Core.Entities";
namespaceViews="Core.Views";
namespaceDataInterfaces="Core.DataInterfaces";
namespaceDao="Data";
namespaceBiz="Domain";
namespaceUserControls = "Web.UserControls";
insertNameSpaceViews=false;
generateWebForms=false;
generateDaoBase=false;
generateBizBase=false;
generateCustomObjects=true;
isInPascalCasing=false;
createExternalMapping=true;