<?xml version="1.0" encoding="utf-8" ?>
<yamapper-configuration xmlns="urn:yamapper-configuration-9.4.1.0">
  <yamapper
		defaultConnection="Intentor"
		mappingsFolder="Util/Mappings" />
  <databaseConnections>
    <connection name="Intentor"
				connectionString="Database=yamapper;Data Source=localhost;User Id=yamapper;Password=yamapper;"
				provider="Intentor.Yamapper.Drivers.MySqlDriver"
				params="assembly:MySql.Data, Version=6.2.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
  </databaseConnections>
</yamapper-configuration>